html {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

body {
  display: inline-block;
  margin: 1rem;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 20em;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 35em;
}

.btn-ghost {
  display: inline-block;
  text-decoration: none;
  border: 3px solid;
  border-radius: 8px;
  background-color: #fff;
  border-color: #000;
  color: #000;
  max-width: 8em;
  padding: .5em;
  text-align: center;
}

.btn-ghost:hover {
  background-color: #000;
  color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
}
